@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap')
 
@import 'common/normalize'
@import 'common/palette'

@import 'ui/loading'
@import 'ui/error'
@import 'ui/text-slide'


body
    background-color: $bg-color
    color: $fg-color

html, body
    height: 100%
    padding: 0
    font-family: "Inter", sans-serif
    margin: 0

h1
    margin: 0